@import './colors';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(
		90deg,
		#707071 0%,
		#c6c6cb 65%,
		#f5f8f9 100%
	);
	background-attachment: fixed;
	font-family: 'Montserrat', sans-serif;
	color: #0a0a0a;
}

.header {
	display: flex;
	align-items: center;
	width: 100vw;
	height: 10vh;
	background-color: #f5f8f9;
	&__space {
		display: flex;
		font-size: 1.5rem;
	}
	&__img {
		width: 50px;
	}
	&__title {
		color: $red;
		margin-left: 20px;
	}
	&__color-title {
		color: #000000;
	}
	&__current-date {
		position: absolute;
		right: 30px;
		top: auto;
		text-align: center;
	}
	&__day {
		font-weight: bold;
		border-bottom: 1px solid $red;
	}
	&__timer {
		padding-top: 5px;
	}
}

.menu {
	&__bgc {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100vw;
		height: 5vh;
		margin-top: 2rem;
		color: $white;
	}

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 2rem 0 3rem;
		width: 15rem;
		height: 3rem;
		font-size: 1.4rem;
		border: 1px solid $white;
		border-radius: 5px;

		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: $red;
		}

		a {
			color: $white;
			text-decoration: none;
		}
        
	}
  .log-out {
    border: none;
    margin-left: auto;
  }

  .log-out:hover {
    background-color: transparent;
  }
    .color-button{
        box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
        background-color:#79bbff;
        border-radius:6px;
        border:1px solid #84bbf3;
        display:inline-block;
        cursor:pointer;
        color:$white;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #528ecc;
    }

    .color-button:hover {
        background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
        background-color:#378de5;
    }
    .color-button:active {
        position:relative;
        top:1px;
    }
    

}

.login-body {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 80.7vh;

    .body-img {
        width: 250px;
    }

	.login {
		position: relative;
		width: 30rem;
		height: 40rem;
		background-color: transparent;
		border-radius: 2rem;
		border: 2px solid $white;

		&__title {
			font-size: 1.5rem;
			padding: 2rem 3rem 1rem;
			font-weight: 700;
		}

		&__description {
			font-size: 1rem;
			padding: 0 3rem 3rem;
			color: rgb(143, 142, 142);
		}

		&__email {
			display: flex;
			flex-direction: column;
			position: relative;
		}
		&__label {
			font-size: 1.3rem;
			padding: 0 3rem 0.5rem;
		}
		&__input, &__input-pass {
			position: relative;
			width: 24rem;
			margin: 0 3rem 2rem;
			padding: 1rem 1rem;
			border-radius: 0.6rem;
			border: 0.2rem solid $red;
		}
        
        &__error {
            position: relative;
            margin: 0 3rem 2rem;
            color: $red;
        }

		&__button {
			position: relative;
			width: 10rem;
			height: 3.5rem;
			border-radius: 10px;
			border: none;
			outline: none;
			background-color: $red;
			transition: background-color 0.3s;
			color: $white;

			&:hover {
				background-color: $buttonColor;
				color: black;
				border: 1px solid $red;
			}
		}
		.button1 {
			margin: 4rem 3rem;
		}
		.button2 {
			margin: 0 3rem 0 0;
		}
	}
}

.test {
    position: relative;
    display: flex;
    justify-content: center;
    top: 40px;
    .test-text {
        font-size: 1.5rem;
        border: 1px solid black;
        padding: 1rem 2rem;
        border-radius: .5rem;
        background-color: white;
        cursor: pointer;
        transition: transform .3s;

        span{
            font-weight: bold;
        }
    }
    .test-text:hover {
        transform: scale(1.05);
    }
}

.log-inTime {
	.counter {
		display: flex;
		justify-content: center;
		width: 90%;
		margin: 10rem auto;

		&__log-inTime {
			background-color: lightgray;
			width: 30%;
			height: 8rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 10px;

			.counter__text {
				font-size: 1.5rem;
				font-weight: bold;
				margin-bottom: 1rem;
			}
			.log-in-time {
				font-size: 2rem;
				padding-bottom: 1rem;
			}
		}
		&__log-inTime {
			background-color: rgb(252, 252, 249);
		}
	}
}

.timer {
	height: 50vh;
	.counter {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		height: 10vh;
		margin: 0 auto;

		&__work,
		&__measurements,
		&__rearming,
		&__failure {
			background-color: #d3d3d3;
			width: 22%;
			height: 150px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 10px;
			transition: all 0.3s ease-in-out;
			&:hover {
				cursor: pointer;
				transform: scale(1.1);
			}
			.counter__text {
				font-size: 2rem;
				margin-bottom: 2rem;
			}
			.work-time,
			.measurements-time,
			.rearming-time,
			.failure-time {
				font-size: 4rem;
				padding-bottom: 1rem;
			}
		}
		&__work {
			background-color: #27ac1d;
		}

		&__measurements {
			background-color: #eae433;
		}

		&__rearming {
			background-color: #e49432;
		}

		&__failure {
			background-color: #f43737;
		}
	}
}
.table {
	display: none;
	justify-content: center;
	align-items: center;
    flex-direction: column;
	width: 100vw;
	margin-top: 5vh;
	margin-bottom: 3rem;

    .weekly, .monthly {
        margin-top: 5rem;
    }

	.table-style {
		.title-name {
			text-transform: uppercase;
			font-size: 2rem;
			border-bottom: 2px solid $red;
		}
		th {
			padding-top: 2rem;
			width: 80px;
			border-bottom: 1px solid #000000;
		}

		.name-operation {
			.name {
				font-size: 1.5rem;
			}
		}
		td {
			font-size: 1.5rem;
			border: 1px solid #000000;
			padding: 5px 50px;
		}
		.sum {
			color: $red;
		}
	}
}

.footer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 5vh;
	bottom: 0;
	font-size: 1.2rem;
	background-color: rgb(40, 40, 40);
	color: $white;
	margin-top: 5rem;

	&__company-name {
		color: $red;
	}
}


@import './small';
@import './medium';
